.App {
  background-color: antiquewhite;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  width: 300px;
  background-color: white;
  margin: 10px;
}

.card_image {
  width: 100%;
}

.card_info {
  padding: 20px;
}

.card h1 {
  font-size: 19px;
}

.card h6 {
  font-size: 15px;
  margin: 10px auto;
}
